
################################################
## PRINT_START T_EXTRUDER= T_BED=0
################################################

[gcode_macro START_PRINT]
gcode:
 
    {% set T_BED = params.TEMP_BED|default(60)|int %}
    {% set T_EXTRUDER = params.TEMP_EXTRUDER|default(200)|float %}
    LED_off                                  ; LED OFF
    M83                                      ; Set relative Extrusion
    LED_Homing                               ; HOME LED
    G28                                      ; Home
    #LED_Heating                              ; LED HEATING
    PREHEAT                                  ; PREHEAT Bed and Nozzle
    {% if printer.heater_bed.temperature <= 50 %}                            
    RESPOND MSG="Start Preheating Phase...."
    {% endif %}
    M140 S{T_BED}                            ; Bed heat up temp
    M190 S{T_BED}                            ; Wait for Bed heat up
    #LOAD_MESH_TEMP BED_TEMPERATURE={T_BED}  ; Load mesh for bed temp
    RESPOND MSG="Start Z-Tilt Adjust...."
    LED_Homing                               ; LED HOMING
    Z_TILT_ADJUST                            ; Adjust Z axes
    LED_Heating                              ; LED HEATING
    G1 X220 Y209 F3000
    RESPOND MSG="PREHEAT now ist time to clean the Bed"
    M104 S{T_EXTRUDER}                       ; Extruder heat up temp
    M109 S{T_EXTRUDER}                       ; Extruder heat up to target temp
    LED_Homing                               ; LED HOMING
    RESPOND MSG="Final Homing"
    G28                                      ; Home
    BED_MESH_PROFILE LOAD=default            ; Load Mesh  
    G0 Z0.4                                  ; Lift nozzle a bit
    M107                                     ; start with the fan off
    G92 E0.0                                 ; Reset extruder length
    RESPOND MSG="Start Primline...."
    PRIME_LINE                               ; First move
    RESPOND MSG="Start Printing...."
    LED_Printing                       ; LED Printing


[gcode_macro END_PRINT]
gcode:
  TURN_OFF_HEATERS
  G91                                ; Relative Positionierung
  G1 E-3 F5000                       ; Retract
  G1 X-0.5 Y-0.5 Z5 E-5             
  G90                                ; Absolute Positionierung
  G1 X60 Y180 F2200                  ; Bewege den Kopf nach hinten in die Mitte
  M107                               ; Partcooling Fan deaktivieren
  LED_off                                  ; LED OFF
  M117 Print done

[gcode_macro PRIME_LINE]
gcode:
  G90                                ; Absolute Positionierung
  G1 X5 Y5 F6000
  G92 E0
  G90
  G1 Z0.3 F4000
  G1 X5 X55 E25 F500
  G1 E-1 F3000
  G92 E0
  G1 X65 F10000



#####################################################################
#	LED Macros
#####################################################################
# gelb
[gcode_macro LED_Homing]
gcode:
  SET_LED LED=Leds RED=1.00 GREEN=1.00 BLUE=0.00
	
# orange
[gcode_macro LED_Leveling]
gcode:
  SET_LED LED=Leds RED=1.00 GREEN=0.40 BLUE=0.00
	
# rot
[gcode_macro LED_Heating]
gcode:
	SET_LED LED=Leds RED=1.00 GREEN=0.00 BLUE=0.00
	
# weiß
[gcode_macro LED_Printing]
gcode:
  SET_LED LED=Leds RED=1.00 GREEN=1.00 BLUE=1.00

# dunkles weiß
[gcode_macro LED_Idle]
gcode:
  SET_LED LED=Leds RED=0.60 GREEN=0.60 BLUE=0.60
	
# leichtes grün
[gcode_macro LED_Finish]
gcode:
  SET_LED LED=Leds RED=0.70 GREEN=1.00 BLUE=0.70

# off
[gcode_macro LED_off]
gcode:
  SET_LED LED=Leds RED=0.00 GREEN=0.00 BLUE=0.00




#####################################################################
#	Replacement Macros for Temperature GCodes
#####################################################################

#[gcode_macro SET_HEATER_TEMPERATURE]
#rename_existing : S_H_T
#description     : include LEDs in SET_HEATER_TEMPERATURE 
#gcode:
#  M117     Set temperature { rawparams }
#	SET_LED LED=Leds RED=0.70 GREEN=0.10 BLUE=0.0
#  S_H_T { rawparams }

#####################################################################
#	LED Control
#####################################################################

## Normales LED Licht über einen PIN
#[output_pin caselight ]
##  Chamber Lighting - In 5V-RGB Position
#pin: PD3
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{5}
    G90
    G1 X{100} Y{10} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# Preheat
######################################################################

[gcode_macro PREHEAT]
gcode:

  RESPOND MSG="PREHEAT BED 50 HOTEND 150"
 LED_Heating                                                ; LED HEATING
 SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=50         ; Preheat Bed 50 Grad
 SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150          ; Preheat Hotend 150 Grad


